ignore_regexps = [
        r'@minor', r'!minor',
        r'@cosmetic', r'!cosmetic',
        r'@refactor', r'!refactor',
        r'@wip', r'!wip',
        r'^([cC]hg|[fF]ix|[nN]ew)\s*:\s*[p|P]kg:',
        r'^([cC]hg|[fF]ix|[nN]ew)\s*:\s*[d|D]ev:',
        r'^(.{3,3}\s*:)?\s*[fF]irst commit.?\s*$',
        r'^(.{3,3}\s*:)?\s*[iI]nitial commit.?\s*$',
  ]

unreleased_version_label = "Next version (unreleased yet)"
output_engine = mustache("markdown")
include_merge = True

body_process = ReSub(r'.*', '') | ReSub(r'^(\n|\r)$', '') | strip
